.mainer{
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.celebration{
    background-image: url("../images/giphy2.gif");
    background-size: cover;
    background-position: center;
} 


@media(max-width:576px){
    .pad{
        padding-top: 10px;
    }
}